//
// The k8s profile provides basic execution settings for running the workflow
// on a Kubernetes cluster.
//
profiles.k8s {
  process {
    executor = "k8s"
    cpus = 1
    memory = 1.GB
    pod = [env: "INTERPROSCAN_DATA_DIR", value: "${params.data.interproscan}"]
    withLabel:multithreaded {
      cpus = 8
      memory = 8.GB
    }
  }
  executor {
    queueSize = "${params.execution.queue_size}"
  }
}
