//
// Clemson's Palmetto cluster uses the PBS scheduler. Here we provide
// an example for execution of this workflow on Palmetto with some
// defaults for all steps of the workflow.
//
profiles {
  pbs {
    process {
      executor = "pbspro"
      time = "8h"
      cpus = 2
      memory = 2.GB

      withLabel:multithreaded {
        cpus = 8
        memory = 8.GB
      }
    }
    executor {
      queueSize = "${params.execution.queue_size}"
    }
  }
}
