//
// WSU's Kamiak cluster uses the SLURM scheduler. Here we provide
// an example for execution of this workflow on Kamiak with some
// defaults for all steps of the workflow.
//
profiles.slurm {
  process {
    executor = "slurm"
    queue = "ficklin"
    time = "24h"
    cpus = 1

    withLabel:multithreaded {
      cpus = 1
    }
  }
  executor {
    queueSize = "${params.execution.queue_size}"
  }
}
