//
// The standard profile uses the local executor, in which processes are simply
// launched as normal processes on the local machine. By default the local
// executor uses the number of CPU cores to limit how many processes are run
// in parallel.
//
profiles.standard {
  process.executor = "local"
  executor {
    queueSize = "${params.execution.queue_size}"
  }
}
