//
// The testing profile is used to override the execution params and force the
// workflow to terminate immediately if any process fails, which is useful for
// debugging purposes.
//
profiles {
  testing {
    process {
      withLabel:retry {
        errorStrategy = "terminate"
      }
    }
  }
}
