/**
 * ===========================
 * AnnoTater Configuration File
 * ===========================
 *
 * This file provides the configuration settings for the AnnoTaater workflow.
 * It is designed to provide workflow parameter settings in this file. These
 * are the settings needed for proper execution of the workflow processes. More
 * advanced configuration settings are avilable via included configuration
 * files that are found in the ./config directory of AnnoTater.
 *
 * Most users will only need to edit the settings in this file and
 * the appropriate profile settings file if executing AnnoTater other than
 * standalone.  AnnoTater provides default configuration files for
 * Standalone Docker, Standalone Singularity, PBS cluster, SLURM cluster and
 * a Kubernetes cluster.
 */

includeConfig "config/version.config"
includeConfig "config/manifest.config"

// Below are settings for controlling the tools used to annotate whole or
// partial genomes or transcriptomes.  Please edit these as needed.  You
// should only change the values of these parameters and not the names
// or order of the parameters.
params {
  input {
    fasta_file = "${PWD}/examples/Citrus_sinensis-orange1.1g015632m.g.fasta"
    type = "nuc"
  }
  data {
    interproscan = "/local/dbs/interproscan/interproscan-5.36-75.0/data"
    nr = "data/nr"
    sprot = "data/uniprot_sprot"
    orthodb = "data/orthodb"
    string = "data/string"
    trembl = "data/uniprot_trembl"
  }
  output {
    dir = "${PWD}/output"
  }
  execution {
    queue_size = 2
  }
  steps {
    orthodb {
      enable = false
      levels = [3702]
      db = "plants"
    }
    dblast_sprot {
      enable = true
    }
    dblast_trembl {
      enable = true
    }
    dblast_nr {
      enable = false
    }
    interproscan {
      enable = true
      // A comma-separated list of applications that InterProscan should run.
      applications = "TIGRFAM,SFLD,SUPERFAMILY,Gene3D,Hamap,Coils,ProSiteProfiles,SMART,CDD,PRINTS,Pfam,MobiDBLite,PIRSF,PANTHER,ProDom"
    }
    string {
      enable = true
    }
  }
}

// The following includes config files that are located in the config direcotry
// of AnnoTater.  Most likely you will not need to edit any configuration
// settings in these files.
includeConfig = "config/reports.config"
includeConfig = "config/singularity.config"
includeConfig = "config/docker.config"
includeConfig = "config/process.config"

// Profile configuration files.  Edit the settings in these files according
// the machine or infrastructure on which you will execute AnnoTater. Be
// sure to following the Nextflow documentation when adding/removing/editing
// any of the settings in these files.
includeConfig = "config/profiles/docker.config"
includeConfig = "config/profiles/singularity.config"
includeConfig = "config/profiles/standard.config"
includeConfig = "config/profiles/travis.config"
includeConfig = "config/profiles/testing.config"
includeConfig = "config/profiles/k8s.config"
includeConfig = "config/profiles/slurm.config"
includeConfig = "config/profiles/pbs.config"
