/**
 * =============================================================================
 *                       AnnoTater Configuration File
 * =============================================================================
 * This file provides the configuration settings for the AnnoTater workflow.
 * It is designed to provide workflow parameter settings in this file. These
 * are the settings needed for proper execution of the workflow processes. More
 * advanced configuration settings are avilable via included configuration
 * files that are found in the ./config directory of AnnoTater.
 *
 * Most users will only need to edit the settings in this file and
 * the appropriate profile settings file if executing AnnoTater other than
 * standalone.  AnnoTater provides default configuration files for
 * Standalone Docker, Standalone Singularity, PBS cluster, SLURM cluster and
 * a Kubernetes cluster.
 *
 */

// These lines include the settings from the version and manifest configuration
// files. To ensure reproducibilty of the workflow, these configuration files
// should not be edited.
includeConfig "VERSION"
includeConfig "config/manifest.config"

// EDIT THESE SETTINGS
// -------------------
// Below are settings for controlling the tools used to annotate whole or
// partial genomes or transcriptomes.  Please edit these as needed.  You
// should only change the values of these parameters and not the names
// or order of the parameters.
params {
  input {
    fasta_file = "${PWD}/examples/Citrus_sinensis-orange1.1g015632m.g.fasta"
    type = "nuc"
    taxonomy_ID = 2711
  }
  data {
    interproscan = "${PWD}/data/interproscan/interproscan-5.36-75.0/data"
    nr = "${PWD}/data/nr"
    refseq = "${PWD}/data/refseq"
    sprot = "${PWD}/data/uniprot_sprot"
    orthodb = "${PWD}/data/orthodb"
    string = "${PWD}/data/string"
    trembl = "${PWD}/data/uniprot_trembl"
  }
  output {
    dir = "${PWD}/output"
  }
  execution {
    queue_size = 1
  }
  steps {
    orthodb {
      enable = true
    }
    dblast_sprot {
      enable = true
    }
    dblast_trembl {
      enable = true
    }
    dblast_nr {
      enable = true
    }
    dblast_refseq {
      enable = false
    }
    interproscan {
      enable = true
      // A comma-separated list of applications that InterProscan should run.
      applications = "TIGRFAM,SFLD,SUPERFAMILY,Gene3D,Hamap,Coils,ProSiteProfiles,SMART,CDD,PRINTS,Pfam,MobiDBLite,PIRSF,ProDom"
    }
    string {
      enable = false
    }
  }
}

// GENERAL SETTINGS
// ----------------
// The following includes default configurations that support reporting,
// containers, and default settings for execution of processes. If you need to
// override any of the settings in these files pleace do not edit the files
// themselves, but instead reenter the settings below to override them.
includeConfig "config/reports.config"
includeConfig "config/singularity.config"
includeConfig "config/docker.config"
includeConfig "config/process.config"

// PROFILE SETTINGS
// ----------------
// You will be executing AnnoTater on one ore more platforms. The following
// provides default configruation settings for multiple types of platform
// profiles.  You will want to override these settings for the platforms on
// which you are working.  Do not edit the config files listed here but instead
// you can override the settings in the space below.
includeConfig "config/profiles/docker.config"
includeConfig "config/profiles/singularity.config"
includeConfig "config/profiles/standard.config"
includeConfig "config/profiles/travis.config"
includeConfig "config/profiles/testing.config"
includeConfig "config/profiles/k8s.config"
includeConfig "config/profiles/slurm.config"
includeConfig "config/profiles/pbs.config"

// Overide default settings in this space
