/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'diamond_blastp' {
            args = "--evalue 1e-6 --outfmt 5"
            suffix = '.diamond_blastp'
            publish_dir = 'diamond_blastp'
        }
        'diamond_blastx' {
            args = "--evalue 1e-6 --outfmt 5"
            suffix = '.diamond_blastp'
            publish_dir = 'diamond_blastp'
        }
        'interproscan' {
            args = "-f TSV,XML --goterms --iprlookup --pathways --mode standalone --applications 'TIGRFAM,SFLD,SUPERFAMILY,Gene3D,Hamap,Coils,ProSiteProfiles,SMART,CDD,PRINTS,Pfam,MobiDBLite,PIRSF,ProDom'"
            publish_dir = 'interproscan'
        }
    }
}
