docker {
  fixOwnership = true
  runOptions = "--init --volume ${params.data.interproscan}:/usr/local/interproscan/data --volume ${params.data.nr}:${params.data.nr} --volume ${params.data.sprot}:${params.data.sprot} --volume ${params.data.orthodb}:${params.data.orthodb} --volume ${params.data.string}:${params.data.string} --volume ${params.data.trembl}:${params.data.trembl}"
}
