process {
  container = "annotater/base:0.9"
  errorStrategy = "retry"
  maxRetries = 3

  withLabel:interproscan {
    container = "annotater/interproscan:5.36-${version}"
    time = "24h"
    // Interproscan always requires a master and a worker process.
    cpus = 2
  }
  withLabel:ncbi_blast {
    container = "annotater/ncbi-blast:2.2.31-${version}"
  }
  withLabel:orthdb_level2species {
    container = "annotater/python:3.7-${version}"
  }
  withLabel:diamond {
    container = "annotater/diamond:0.9.25-${version}"
  }
  withLabel:diamond_makedb {
    container = "annotater/diamond:0.9.25-${version}"
    maxRetries = 0
    cpus = 2
  }
  withLabel:interproscan_combine {
    container = "annotater/python:3.7-${version}"
  }
  withLabel:python3 {
    container = "annotater/python:3.7-${version}"
  }
}
