process {
  // General settings that apply to all processes. These can be overridden
  // by each proces individually if needed.
  container = "annotater/base:${version}"
  errorStrategy = "retry"
  maxRetries = 3

  // Default settings for use with InterProScan
  withLabel:interproscan {
    container = "annotater/interproscan:5.36-${version}"
    time = "24h"
    // Interproscan always requires a master and a worker process.
    cpus = 2
  }

  // Default settings for the InterProScan results combine process.
  withLabel:interproscan_combine {
    container = "annotater/python:3.7-${version}"
  }

  // Default settings for the NCBI BLAST process.
  withLabel:ncbi_blast {
    container = "annotater/ncbi-blast:2.2.31-${version}"
  }

  // Default settings for the OrthoDB level2species process.
  withLabel:orthdb_level2species {
    container = "annotater/python:3.7-${version}"
  }

  // Default settings for the Diamond (BLAST alternative) process.
  withLabel:diamond {
    container = "annotater/diamond:0.9.25-${version}"
  }

  // Default settings for the Diamond (BLAST alternative) makedb process.
  withLabel:diamond_makedb {
    container = "annotater/diamond:0.9.25-${version}"
    maxRetries = 0
    cpus = 2
  }

  // Default settings for processes that use Python3.
  withLabel:python3 {
    container = "annotater/python:3.7-${version}"
  }
}
